.ticket-cards{
padding-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    .ticket-cards {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
      }
  
}

@media only screen and (min-width: 1024px) {
  .ticket-cards {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    justify-content: flex-start;
  }
}