.counter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  
  &__title{
    grid-area: 1/1/1/4;
    margin: 20px;
  }

  &__button{
    height: 2rem;
    width: 2rem;
    justify-self: center;
  }

}
