@use "./../../Variables.scss" as *;

.counter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  
  &__title{
    grid-area: 1/1/1/4;
    margin: 20px;
  }

  &__button{
    height: 2rem;
    width: 2rem;
    justify-self: center;
    background-color: $color-light-grey;
    border: unset;
    border-radius: 20px;
    font-size: 1rem;

    &:hover{
      background-color: $color-orange;
      cursor: pointer;
    }
  }

}