@use "./../../Variables.scss" as *;

.ticket-card{
    border: 2px solid $color-light-grey;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    background-color: $color-dark-grey;
    color: $color-orange;

    &__text{
        margin: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .ticket-card{
        justify-content: space-between;
        font-size: 1rem;
    }
  }